#fb {
    background-color: #4CAF50;
    color: #FFC0CB;
    padding: 25px 32px;
    margin-left: 30px;
    margin-right: auto;
}
  
#usernamefb {
color: #FFCC99;
}

#passwordfb {
color: #FFCC99;
}

#usernametw {
color: #FFCC99;
}

#passwordtw {
color: #FFCC99;
}

#usernamegm {
color: #FFCC99;
}
#passwordgm {
color: #FFCC99;
}

#usernamewc {
color: #FFCC99;
}
#passwordwc {
color: #FFCC99;
}