<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>I dunno</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <table>
      <button id="fb" type="button" name="button">Facebook</button>
      <input id="password" type="text" name="" value="Password">
      <input id="username" type="text" name="" value="Username">
    </table>
    <table>
      <col span="2">
        <button type="button" name="button">Twitter</button>
        <input id="password" type="text" name="" value="Password">
        <input id="username" type="text" name="" value="Username">
      </col>
    </table>
    <table>
      <button type="button" name="button">Gmail</button>
      <input id="username" type="text" name="" value="Password">
      <input id="password" type="text" name="" value="Username">
    </table>


    <button type="button" name="button">Wechat</button>
    <input id="password" type="text" name="" value="Password">
    <input id="username" type="text" name="" value="Username">
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</html>