<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>I dunno</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="fb">
    <div class="box">
      <a class="button" href="#popup1">Facebook?</a>
      <p id="fbStatus">
        Status: Not Logged In
      </p>
    </div>
    <div id="popup1" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <input id="passwordfb" type="text" name="" value="Password">
          <input id="usernamefb" type="text" name="" value="Username">
          <button id="fbButton" type="button" name="button" >Enter</button>
        </div>
      </div>

    </div>
  </div>

  <div class="twatter">
    <div class="box">
      <a class="button" href="#popup2">Twitter?</a>
      <p id="twStatus">
        Status: Not Logged In
      </p>
    </div>
    <div id="popup2" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <input id="passwordtw" type="text" name="" value="Password">
          <input id="usernametw" type="text" name="" value="Username">
          <button id="twButton" type="button" name="button">Enter</button>
        </div>
      </div>

    </div>
  </div>
  <div class="gmail">
    <div class="box">
      <a class="button" href="#popup3">Gmail?</a>
      <p id="gmStatus">
        Status: Not Logged In
      </p>
    </div>
    <div id="popup3" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <input id="usernamegm" type="text" name="" value="Password">
          <input id="passwordgm" type="text" name="" value="Username">
          <button id="gmButton" type="button" name="button">Enter</button>
        </div>
      </div>

    </div>
  </div>
  <div class="WeDie">
    <div class="box">
      <a class="button" href="#popup4">WeChat?</a>
      <p id="wcStatus">
        Status: Not Logged In
      </p>
    </div>
    <div id="popup4" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <input id="passwordwc" type="text" name="" value="Password">
          <input id="usernamewc" type="text" name="" value="Username">
          <button id="wcButton" type="button" name="button">Enter</button>
        </div>
      </div>

    </div>
  </div>
  <button id="FMU" type="button" name="button">Fuck Me Up</button>
</body>
<script src="../static/js/form.js" charset="utf-8"></script>

</html>